#root {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;

}

.main-div {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    background-color: gray;
    align-content: center;
    padding: 30px 30px;
    display: flex;
    flex-direction:column;
    gap: 20px;


}

.timer {
    font-weight: 700;
    font-size: 30px;
}

.start-button {
    margin-right: 20px;
}

.stop-button {
    margin-right: 20px;
}

.reset-button {
    margin-right: 20px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
